<?xml version="1.0"?>
<!--
/**
 * Paybox Epayment module for Magento
 *
 * Feel free to contact Paybox by Verifone at support@paybox.com for any
 * question.
 *
 * LICENSE: This source file is subject to the version 3.0 of the Open
 * Software License (OSL-3.0) that is available through the world-wide-web
 * at the following URI: http://opensource.org/licenses/OSL-3.0. If
 * you did not receive a copy of the OSL-3.0 license and are unable 
 * to obtain it through the web, please send a note to
 * support@paybox.com so we can mail you a copy immediately.
 *
 *
 * @version   1.0.0
 * @author    BM Services <contact@bm-services.com>
 * @copyright 2012-2017 Paybox
 * @license   http://opensource.org/licenses/OSL-3.0
 * @link      http://www.paybox.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="pbxep_gateway_data_assign" instance="Paybox\Epayment\Observer\DataAssignObserver" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="pbxep_gateway_event_order_save_after" instance="Paybox\Epayment\Observer\ProcessOrder" />
    </event>
<!--    <event name="sales_order_save_after">
        <observer name="pbxep_gateway_event_order_save_after" instance="Paybox\Epayment\Observer\ProcessOrder" />
    </event>-->
</config>
