<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

		<div class="field type">
	        <div class="control">
                <p data-bind="i18n: 'Click to your card\'s logo, after confirmation of your order you will be redirected to the payment page.'"></p>
	            <ul class="credit-card-types">
	                <!-- ko foreach: getCards() -->
	                <li class="item">
	                    <!--ko if: value -->
                        <label>
    	                    <img data-bind="attr: {
    	                        'src': url,
    	                        'alt': title,
    	                        'width': width,
    	                        'height': height
    	                        }" />
                            <br />
                            <input data-bind="attr: {
                                'type': 'radio',
                                'name': 'payment[cc_type]',
                                'value': value
                                }" />
                        </label>
	                    <!--/ko-->
	                </li>
	                <!--/ko-->
	            </ul>
	        </div>
	    </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: continueToPaybox, enable: (getCode() == isChecked()), attr: {title: $t('Place Order')}"
                        >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
