<?xml version="1.0"?>
<!--
/**
 * @author BM-Services
 * @package Paybox_Epayment
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="paybox" translate="label" sortOrder="400">
            <label>paybox</label>
        </tab>
        <section id="pbxep_pres" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Presentation</label>
            <tab>paybox</tab>
            <resource>Paybox_Epayment::paybox_config</resource>
            <group id="presentation" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            	<label>Presentation</label>
            	<attribute type="expanded">1</attribute>
                <field id="presentation" translate="label comment" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Paybox\Epayment\Block\Admin\Field\Presentation</frontend_model>
                </field>
        	</group>
        </section>
        <section id="pbxep_merchant" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Account settings</label>
            <tab>paybox</tab>
            <resource>Paybox_Epayment::paybox_config</resource>
            <group id="environment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <attribute type="expanded">1</attribute>
                <label>Environment</label>
                <comment><![CDATA[In test mode your payments will not be sent to the bank.]]></comment>
                <field id="environment" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Paybox\Epayment\Model\Admin\Environment</source_model>
                    <config_path>pbxep/merchant/environment</config_path>
                </field>
            </group>
	        <group id="settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
	            <attribute type="expanded">1</attribute>
                <label>Account settings</label>
                <field id="subscription" translate="label comment" type="select" sortOrder="0" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Subscribed Paybox Solution</label>
                    <source_model>Paybox\Epayment\Model\Admin\Subscription</source_model>
                    <config_path>pbxep/merchant/subscription</config_path>
                </field>
                <field id="site" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Site number</label>
                    <comment><![CDATA[Site number provided by Paybox.]]></comment>
                    <validate>required-entry validate-digits validate-exact-length length-7</validate>
                    <config_path>pbxep/merchant/site</config_path>
                </field>
                <field id="rank" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Rank number</label>
                    <comment><![CDATA[Rank number provided by Paybox (last 2 digits).]]></comment>
                    <validate>required-entry validate-digits validate-exact-length length-2</validate>
                    <config_path>pbxep/merchant/rank</config_path>
                </field>
                <field id="identifier" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Login</label>
                    <comment><![CDATA[Internal login provided by Paybox.]]></comment>
                    <validate>required-entry validate-digits validate-length maximum-length-9</validate>
                    <config_path>pbxep/merchant/identifier</config_path>
                </field>
                <field id="hmackey" translate="label comment" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>HMAC</label>
                    <comment><![CDATA[Secrete HMAC key to create using the Paybox interface.]]></comment>
                    <validate>required-entry</validate>
                    <config_path>pbxep/merchant/hmackey</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="password" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paybox Back Office password</label>
                    <comment><![CDATA[Back Office password provided by Paybox.]]></comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="subscription">essential</field>
                    </depends>
                    <config_path>pbxep/merchant/password</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="passwordplus" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paybox Back Office password</label>
                    <comment><![CDATA[Back Office password provided by Paybox.]]></comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="subscription">plus</field>
                    </depends>
                    <config_path>pbxep/merchant/passwordplus</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
	        <group id="misc" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
	            <attribute type="expanded">1</attribute>
                <label>Other options</label>
                <comment><![CDATA[In test mode your payments will not be sent to the bank.]]></comment>
                <field id="customer_info" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show payment information to customers</label>
                    <comment><![CDATA[Paybox module can show payment information to customer. You can disable this feature here.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>pbxep/info/show_to_customer</config_path>
                </field>
                <field id="currency" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Orders currencies</label>
                            <comment><![CDATA[If multiple currencies are active on your store you can force the payment with the base currency or the currency selected by the customer when ordering.]]></comment>
                    <source_model>Paybox\Epayment\Model\Config\Source\CurrencyYesNo</source_model>
                    <config_path>pbxep/info/currency</config_path>
                </field>
                <field id="reponsive" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment page type</label>
                    <source_model>Paybox\Epayment\Model\Config\Source\ResponsiveYesNo</source_model>
                    <config_path>pbxep/info/responsive</config_path>
                </field>
            </group>
        </section>
        <section id="pbxep_payments" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
        	<label>Payment methods</label>
        	<tab>paybox</tab>
            <resource>Paybox_Epayment::paybox_config</resource>

            <include path="Paybox_Epayment::system/pbxep_cb.xml"/>
            <include path="Paybox_Epayment::system/pbxep_threetime.xml"/>
            <include path="Paybox_Epayment::system/pbxep_private.xml"/>
            <include path="Paybox_Epayment::system/pbxep_paypal.xml"/>
            <include path="Paybox_Epayment::system/pbxep_prepaid.xml"/>
            <include path="Paybox_Epayment::system/pbxep_financial.xml"/>
            <include path="Paybox_Epayment::system/pbxep_bcmc.xml"/>
            <include path="Paybox_Epayment::system/pbxep_maestro.xml"/>
            <include path="Paybox_Epayment::system/pbxep_paybuttons.xml"/>
        </section>
    </system>
</config>

